﻿<section class="mainbar" data-ng-controller="sessions as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="form-search">
                    <input class="input-lg"
                           data-ng-model="vm.sessionsSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Filter room, speaker, tag, title, or track" />
                    <div class="btn-group pull-right">
                        <a class="btn btn-info" data-ng-click="vm.refresh()">
                            <i class="fa fa-refresh"></i> <span>Refresh</span>
                        </a>
                        <a class="btn btn-info" href="#/session/new">
                            <i class="fa fa-plus"></i> <span>Add Session</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{vm.title}}" 
                         subtitle="{{vm.filteredSessions.length}} / {{vm.sessions.length}}" />
                    <div class="widget-content user">
                        <div class="padd" data-ng-repeat="s in vm.filteredSessions"
                             data-ng-click="vm.gotoSession(s)">
                            <div class="user" title="Go to session details">
                                <!--<img data-ng-src="{{s.speaker.imageSource}}" class="img-polaroid user-pic" />-->
                                <img data-cc-img-person="{{s.speaker.imageSource}}" class="img-polaroid user-pic"/>
                                <div class="user-details">
                                    <small>{{s.timeSlot.name}}</small> at <small>{{s.room.name}}</small>
                                    <small class="right hidden-sm">{{s.level}}</small>
                                    <small class="right hidden-sm">{{s.track.name}}</small>
                                    <small class="right hidden-sm">{{s.code}}</small>
                                    <h3>{{s.title}}</h3>
                                    <h6>{{s.speaker.fullName}}</h6>
                                    <small class="text-subtle hidden-sm">{{s.tagsFormatted}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
</section>
