﻿<section class="mainbar" data-ng-controller="sessionDetail as vm">
    <section class="matter">
        <div class="container">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i> Back
                </button>
                <button class="btn btn-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i> Cancel
                </button>
                <button class="btn btn-info" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i> Save
                </button>
                <span data-ng-show="vm.hasChanges" class="dissolve-animation">
                    <i class="fa fa-asterisk fa-2x"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header 
                     title="Edit {{vm.session.title || 'New Session'}}" />
                <div class="widget-content user">
                    <div class="form-group">
                        <label>Title</label> <br />
                        <input class="form-control" data-ng-model="vm.session.title" placeholder="Session title" />
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Track</label> <br />
                            <select data-ng-options="t.name for t in vm.tracks"
                                    data-ng-model="vm.session.track"
                                    class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Time slot</label> <br />
                            <select data-ng-options="ts.name for ts in vm.timeSlots"
                                    data-ng-model="vm.session.timeSlot"
                                    class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Room</label> <br />
                            <select data-ng-options="r.name for r in vm.rooms"
                                    data-ng-model="vm.session.room"
                                    class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Code</label> <br />
                            <input class="form-control" data-ng-model="vm.session.code" placeholder="Code" />
                        </div>
                        <div class="form-group">
                            <label>Level</label> <br />
                            <input class="form-control" data-ng-model="vm.session.level" placeholder="Level" />
                        </div>
                        <div class="form-group">
                            <label>Tags</label> <br />
                            <input class="form-control" data-ng-model="vm.session.tagsFormatted" placeholder="Tags" />
                        </div>
                        <div class="form-group">
                            <img data-cc-img-person="{{vm.session.speaker.imageSource}}" class="img-polaroid" />
                            <address>{{vm.session.speaker.fullName}}</address>
                            <select data-ng-options="speaker.fullName for speaker in vm.speakers"
                                    data-ng-model="vm.session.speaker"
                                    class="form-control"></select>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Description</label> <br />
                            <input class="form-control" data-ng-model="vm.session.description" placeholder="Enter description" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
