﻿<section class="mainbar" data-ng-controller="attendees as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="form-search">
                    <input class="input-lg search-query"
                           data-ng-model="vm.attendeeSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="live search..." />
                    <div class="btn-group pull-right">
                        <a class="btn btn-info" data-ng-click="vm.refresh()">
                            <i class="fa fa-refresh"></i> <span>Refresh</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wgreen">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.attendeeFilteredCount}} / {{vm.attendeeCount}}"
                         right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}" />
                    <div class="widget-content user">
                        <div class="padd list-flow fader-animation" data-ng-repeat="a in vm.attendees">
                            <div class="user">
                                <img data-cc-img-person="{{a.imageSource}}" class="img-polaroid stacked" />
                            </div>
                            <div class="name-stack">
                                <h5>{{a.firstName}}</h5>
                                <h5>{{a.lastName}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <pagination boundary-links="true"
                                    data-ng-model="vm.paging.currentPage"
                                    data-ng-change="vm.pageChanged(page)"
                                    total-items="vm.attendeeFilteredCount"
                                    items-per-page="vm.paging.pageSize"
                                    max-size="vm.paging.maxPagesToShow"
                                    class="pagination-sm"
                                    previous-text="Prev"
                                    next-text="Next"
                                    first-text="First"
                                    last-text="Last" />
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
