﻿<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
            <div class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" 
                           placeholder="Find sessions"
                           data-ng-model="vm.searchText"
                           data-ng-keyup="vm.search($event)" />
                    <a class="btn btn-sm btn-info input-group-btn" data-ng-click="vm.search($event)">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(r)"
                data-ng-repeat="r in vm.navRoutes">
                <a href="#{{r.url}}" data-ng-bind-html="r.config.settings.content"></a>
            </li>
        </ul>
    </div>
</div>
