﻿<section class="mainbar" data-ng-controller="speakerDetail as vm">
    <section class="matter">
        <div class="container">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i> Back
                </button>
                <button class="btn btn-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-undo"></i> Cancel
                </button>
                <button class="btn btn-info" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave">
                    <i class="fa fa-save"></i> Save
                </button>
                <span data-ng-show="vm.hasChanges" class="dissolve-animation">
                    <i class="fa fa-asterisk fa-2x"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header 
                     title="Edit {{vm.speaker.fullName || 'New Speaker'}} " />
                <div class="widget-content user">
                    <div class="form-group">
                        <label>First Name</label> <br />
                        <input class="form-control" data-ng-model="vm.speaker.firstName" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label> <br />
                        <input class="form-control" data-ng-model="vm.speaker.lastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label>Email</label> <br />
                        <input class="form-control" data-ng-model="vm.speaker.email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label>Blog</label> <br />
                        <input class="form-control" data-ng-model="vm.speaker.blog" placeholder="Blog" />
                    </div>
                    <div class="form-group">
                        <label>Twitter</label> <br />
                        <input class="form-control" data-ng-model="vm.speaker.twitter" placeholder="Twitter" />
                    </div>
                    <div class="form-group">
                        <img data-cc-img-person="{{vm.speaker.imageSource}}" class="img-polaroid" />
                    </div>
                    <div class="form-group">
                        <label>Bio</label> <br />
                        <textarea class="form-control" data-ng-model="vm.speaker.bio" placeholder="Enter speaker bio" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
